.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}

.star-cb-group * {
    font-size: 2rem;
}

.star-cb-group > input {
    display: none;
}

.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}

.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}

.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #FFC926;
    text-shadow: 0 0 1px #333;
}

.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: .5em;
    margin-left: -.5em;
}

.star-cb-group > .star-cb-clear + label:before {
    width: .5em;
}

.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}

.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #FFC926;
    text-shadow: 0 0 1px #333;
}

ul.lista-material li span {
    margin: 0;
}

ul.lista-material li span.spanStyle {
    margin: 0 15px;
}

header .banner-curso form.form-inline input {
    background-color: #FFF !important;
}

ul.lista-material li p time {
    margin-right: 15px;
}

.cronometro {
    padding: 0 20px !important;
}

.effect-vertical-line-yellow {
    border-right: 4px solid #FFC926 !important;
}

.effect-horizontal-lesson {
    border-bottom: 1px solid #CCC;
}

.bg-lesson {
    background-color: #485A68 !important;
}

.bg-lesson h5 {
    font-weight: 600;
    color: #FFC926 !important;
}

.lesson-template {
    padding: 8px 0px 4px 0;
}

.yellow-font-icon {
    color: #FFC926 !important;
    font-size: 32px;
    margin-left: -15px;
}

.lesson-template span {
    color: #FFF !important;
}

.lesson-template span.size {
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 600;
}

.video-style {
    min-height: 430px;
    /*padding-top: 15px;*/
}

.box-lesson {
    /*max-height: 80px;*/
}

.scroll-lesson {
    overflow-y: scroll;
    max-height: 392px;
}

.legend {
    font-family: "Open Sans" !important;
    font-size: 12px !important;;
}

.lesson-description {
    margin-top: 20px;
    font-family: "Open Sans";
    font-size: 14px;
    color: #989FA5 !important
}

.principal-box {
    background-color: #283e4e !important;
}

.btn-simulado {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.thumb-simulado-free {
    border: none;
    background-color: #F1F1F4;
}

.thumb-simulado-free p {
    color: #385068 !important;
}

.thumb-simulado-free h5 {
    color: #385068 !important;
    font-size: 14px;
}

.thumb-simulado-free a h5 {
    font-size: 16px;
}

.thumb-simulado-free .btn-warning {
    padding: 5px;
}

.alert.alert-bart {
    background-color: #125b96 !important;
    color: #FFF !important;
    border: none;
}

.alert.alert-bart p {
    color: #FFF !important;
}

@media (min-width: 992px) {
    .col-md-5 {
        width: 49.66666667%;
    }

    .col-md-7 {
        width: 50.333333%;
    }
}

.bar-blue .col-lg-3 img {
    margin-top: -140px;
    float: right;
}

.unstyled {
    text-decoration: none;
    color: inherit !important;
}

.unstyled:visited {
    text-decoration: none;
}

.errada {
    color: #FFF !important;
    font-weight: bold !important;
    background-color: rgb(224, 70, 11) !important;
}

.correta {
    color: #FFF !important;
    font-weight: bold !important;
    background-color: rgb(0, 133, 59) !important;
}

.nav .nav-pills {
    width: 100%;
}

.fd-modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(23, 26, 33, 0.9);
    z-index: 9000;
    opacity: 0;
    display: none;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out
}

.fd-modal-overlay.show {
    opacity: 1;
    display: block
}

.fd-modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    max-width: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 9100;
    overflow: auto;
    padding-bottom: 50px;
    -moz-transition: right 0.45s ease-in-out;
    -o-transition: right 0.45s ease-in-out;
    -webkit-transition: right 0.45s ease-in-out;
    transition: right 0.45s ease-in-out
}

@media only screen and (min-width: 768px) {
    .fd-modal {
        right: -80%;
        max-width: 80%
    }
}

@media only screen and (min-width: 992px) {
    .fd-modal {
        right: -860px;
        max-width: 860px
    }
}

.fd-modal.open {
    right: 0
}

.fd-modal .fd-modal-header {
    overflow: hidden;
    max-height: auto;
    height: auto;
    width: 100%;
    max-width: 860px
}

.fd-modal .fd-modal-header figure {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    height: auto;
    max-height: auto;
    width: 100%;
    max-width: 860px;
    overflow: hidden
}

.fd-modal .fd-modal-header figure img {
    width: 100%
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-header {
        max-height: calc(860px / 2);
        height: 100%
    }

    .fd-modal .fd-modal-header figure {
        height: 100%;
        max-height: calc(860px / 2)
    }
}

.fd-modal .fd-modal-close {
    position: absolute;
    background-color: #1F4771;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.fd-modal .fd-modal-close img {
    transform: scale(1);
    -moz-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out
}

.fd-modal .fd-modal-close:hover img {
    transform: scale(1.4)
}

.fd-modal .fd-modal-content {
    margin-top: -40px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-content {
        padding-left: 50px;
        padding-right: 30px;
        width: 70%
    }
}

.fd-modal .fd-modal-content .title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    align-items: flex-end;
    height: auto
}

.fd-modal .fd-modal-content .title h1 {
    margin-bottom: 0;
    line-height: 120%;
    font-weight: 700;
    font-size: 20px;
    color: #1F4771;
    padding-left: 25px
}

@media only screen and (min-width: 600px) {
    .fd-modal .fd-modal-content .title {
        height: 145px
    }

    .fd-modal .fd-modal-content .title h1 {
        font-size: 26px
    }
}

.fd-modal .fd-modal-content .fd-modal-body {
    margin-top: 10px
}

@media only screen and (min-width: 768px) {
    .fd-modal .fd-modal-content .fd-modal-body {
        margin-top: 35px
    }
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-content .fd-modal-body {
        margin-top: 75px
    }
}

.fd-modal .fd-modal-content .fd-modal-body p {
    font-size: 15px;
    color: #999;
    line-height: 133%;
    margin-bottom: 25px;
    text-align: center
}

.fd-modal .fd-modal-content .fd-modal-body p.giant {
    font-size: 32px;
    font-weight: 300;
    color: #1F4771;
    margin: 0 0 -15px 0
}

@media only screen and (min-width: 768px) {
    .fd-modal .fd-modal-content .fd-modal-body p {
        text-align: left
    }
}

.fd-modal .fd-modal-content .fd-modal-body ul li {
    color: #1F4771;
    font-size: 15px;
    line-height: 133%;
    font-weight: 700
}

.fd-modal .fd-modal-content .fd-modal-body hr {
    background-color: #bfbfbf;
    height: 1px;
    width: 100%;
    border: none
}

.fd-modal .fd-modal-content .date {
    height: 80px;
    width: 100%;
    background-color: #1F4771;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    z-index: 20;
    position: relative;
    float: none
}

.fd-modal .fd-modal-content .date .date-content h5 {
    font-size: 30px;
    line-height: 100%
}

.fd-modal .fd-modal-content .date .date-content h5 small {
    font-size: 15px
}

@media only screen and (min-width: 600px) {
    .fd-modal .fd-modal-content .date {
        height: 125px;
        width: auto;
        padding: 0 10px;
        float: left
    }

    .fd-modal .fd-modal-content .date .date-content h5 {
        font-size: 40px
    }

    .fd-modal .fd-modal-content .date .date-content h5 small {
        font-size: 30px
    }
}

.fd-modal .fd-modal-footer {
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-footer {
        padding-left: 50px;
        padding-right: 30px;
        width: 70%
    }
}

.fd-modal .fd-modal-footer .modal-content-value {
    text-align: center;
    margin-bottom: 40px
}

.fd-modal .fd-modal-footer .modal-content-value h6 {
    font-size: 40px;
    margin: 0
}

.fd-modal .fd-modal-footer .modal-content-value h6 small {
    margin: 0
}

.fd-modal .fd-modal-footer .modal-content-value h6 small strong {
    font-size: 18px;
    vertical-align: inherit
}

.fd-modal .fd-modal-footer .modal-content-value h6 small.text-muted {
    color: #666
}

.fd-modal .fd-modal-footer .modal-content-value h6 span {
    position: relative;
    right: 36px;
    font-size: 15px
}

@media only screen and (max-width: 400px) {
    .fd-modal .fd-modal-footer .modal-content-value {
        margin-top: 15px
    }
}

@media only screen and (min-width: 768px) {
    .fd-modal .fd-modal-footer .modal-content-value {
        text-align: left
    }

    .fd-modal .fd-modal-footer .modal-content-value h6 {
        font-size: 82px;
        line-height: 14px;
        margin-top: 25px
    }

    .fd-modal .fd-modal-footer .modal-content-value h6 small {
        margin: 0 -20px
    }

    .fd-modal .fd-modal-footer .modal-content-value h6 small strong {
        font-size: 28px
    }

    .fd-modal .fd-modal-footer .modal-content-value h6 span {
        right: 26px
    }
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-footer .modal-content-value {
        margin-bottom: 0
    }
}

.fd-modal .fd-modal-footer .modal-flex {
    display: block;
    padding-top: 20px;
    padding-bottom: 40px
}

@media only screen and (min-width: 992px) {
    .fd-modal .fd-modal-footer .modal-flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0
    }
}

.fd-modal .fd-modal-footer p.giant {
    font-size: 32px;
    font-weight: 300;
    color: #1F4771;
    margin: 0 0 -15px 0;
    text-align: center
}

@media only screen and (min-width: 768px) {
    .fd-modal .fd-modal-footer p.giant {
        text-align: left
    }
}

.fd-modal-small-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(23, 26, 33, 0.95);
    z-index: 4000;
    top: 0;
    display: none
}

.fd-modal-small-overlay.open {
    display: block
}

.fd-modal-small {
    display: none;
    position: fixed;
    z-index: 4001;
    top: 0;
    left: 0;
    margin: 0;
    height: 350px;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 35px 25px
}

@media only screen and (min-width: 500px) {
    .fd-modal-small {
        top: 50%;
        left: 50%;
        margin: -175px 0 0 -250px
    }
}

.fd-modal-small.open {
    display: block
}

.fd-modal-small .fd-modal-close {
    position: absolute;
    background-color: #1F4771;
    height: 50px;
    width: 50px;
    cursor: pointer;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center
}

.fd-modal-small .fd-modal-close img {
    transform: scale(1);
    -moz-transition: transform 0.15s ease-in-out;
    -o-transition: transform 0.15s ease-in-out;
    -webkit-transition: transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out
}

.fd-modal-small .fd-modal-close:hover img {
    transform: scale(1.4)
}

#modal-popup {
    display: block;
    position: fixed;
    left: 0;
    margin: auto;
    right: 0;
    z-index: 9999;
    bottom: 50%;
    text-align: center;
    min-width: 260px;
    max-width: 360px;
    width: 100%;
}

.no-rounded {
    border: none;
    border-radius: 0;
}