.examples {
    display: inline-block;
    padding: 20px 30px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-shadow: none;
}

.examples .button, .examples .button-addon {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-addon {
    white-space: nowrap;
}

.examples .button-addon .button {
    margin-top: 0;
    margin-bottom: 0;
}

.examples .button, .examples .button-addon {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-facebook {
    background-image: linear-gradient(#3C569A,#364e8b);
    background-color: #3C569A;
    border: 1px solid #2e4275;
    border-bottom-color: #273763;
}

.button {
    padding: 5px 10px;
    background-image: linear-gradient(#3B5998,#355089);
    background-color: #3B5998;
    border: 1px solid #2d4373;
    border-bottom-color: #263961;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}


.examples .button svg {
    margin-right: 7px;
    vertical-align: -3px;
    width: 16px;
    height: 16px;
    fill: currentColor;
}


.share-count {
    position: relative;
    padding: 5px 6.67px;
    background: #FFF;
    border: 1px solid #D3DADE;
    text-align: center;
    min-width: 30px;
    color: #55646B;
}

.button, .share-count {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    font-weight: 600;
    font-size: 14px;
}


.examples{
	margin-bottom: 0px!important;
	padding: 5px 23px;
    float: right;
    box-shadow: 0 0px 0px rgba(0,0,0,.1);
}
a{
	text-decoration: none;
}


@media (min-width: 480px){
	.examples{
		margin-bottom: 0px!important;
	}

}